Source: yaffas-postfix
Section: yaffas
Priority: extra
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: yaffas-postfix
Architecture: all
Conflicts: exim4
Depends: postfix, postfix-ldap, postfix-pcre, sasl2-bin
Description: Configuration package for postfix
 Configuration package for postfix
