Source: z-push
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: z-push
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, php-mail, libapache2-mod-php5
Description: Open-source ActiveSync implementation
 Z-Push is an implementation of the ActiveSync protocol which is used 'over-the-air' for multi platform ActiveSync devices, including Windows Mobile, iPhone, Android, Sony Ericsson and Nokia mobile devices. With Z-Push any groupware can be connected and synced with these devices. 
