Source: yaffas-theme
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: yaffas-theme
Architecture: all
Depends: ${shlibs:Depends}, yaffas-theme-core, libjson-perl, libconfig-general-perl
Description: Yaffas theme
 Yaffas theme
