Source: yaffas-module-licencekey
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: yaffas-module-licencekey
Architecture: all
Depends: ${shlibs:Depends}, yaffas-core
Replaces: yaffas-fax-license, yaffas-faxlicensekey, yaffas-maillicensekey, yaffas-gatelicensekey
Conflicts: yaffas-fax-license, yaffas-faxlicensekey, yaffas-maillicensekey, yaffas-gatelicensekey
Description: Webmin module for our licence key
 Webmin module for our licence key
