Source: yaffas-certificates
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: yaffas-certificates
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends} yaffas-install-lib, yaffas-core
Description: Default yaffas certificates
 Default yaffas certificates
