Source: yaffas-module-group
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: yaffas-module-group
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, yaffas-core
Description: Groupadministration for Webmin
 Groupadministration for Webmin
