Source: yaffas-module-netconf
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: yaffas-module-netconf
Architecture: all
Depends: ${shlibs:Depends}, yaffas-core, libtest-exception-perl, libio-interface-perl
Description: Basic network configuration for yaffas
 Basic network configuration for yaffas
