Source: yaffas-theme-core
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: yaffas-theme-core
Architecture: all
Depends: ${shlibs:Depends}, libjson-perl, libconfig-general-perl, yaffas-core, yaffas-yui
Description: Theme core for yaffas
 Theme core for yaffas
