#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
SHELL=/bin/bash

%:
	dh $@

OS=$(shell lsb_release -si)-$(shell lsb_release -sr)
WHICH_LIBS=$(shell if [[ $(OS) == Ubuntu-14.04 ]]; then echo 9; elif [[ $(OS) != Ubuntu-10.04 && $(OS) != Debian-6.* ]]; then echo 8; else echo 7; fi)

override_dh_gencontrol:
ifeq ($(WHICH_LIBS), 7)
	dh_gencontrol -- -Vkerberos=libkadm5clnt-mit7,libkadm5srv-mit7,libkdb5-4
endif
ifeq ($(WHICH_LIBS), 8)
	dh_gencontrol -- -Vkerberos=libkadm5clnt-mit8,libkadm5srv-mit8,libkdb5-6
endif
ifeq ($(WHICH_LIBS), 9)
	dh_gencontrol -- -Vkerberos=libkadm5clnt-mit9,libkadm5srv-mit9,libkdb5-7
endif
