#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_gencontrol:
ifeq ($(shell [[ $(lsb_release -si) == Ubuntu && $(lsb_release -sr) == 10.04]] && echo old || [[ $(lsb_release -si) == Debian && $(lsb_release -sr) == 6.* ]] && echo old || echo new),old)
	dh_gencontrol -- -Vkerberos=libkadm5clnt-mit7,libkadm5srv-mit7,libkdb5-4
else
	dh_gencontrol -- -Vkerberos=libkadm5clnt-mit8,libkadm5srv-mit8,libkdb5-6
endif
