Source: yaffas-module-zarafaconf
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: yaffas-module-zarafaconf
Architecture: all
Depends: yaffas-core, yaffas-module-authsrv, yaffas-module-users, yaffas-install-lib, mysql-server, zarafa, yaffas-module-mailsrv, libtext-template-perl
Description: Module for basic zarafa configuration
 Module for basic zarafa configuration
