Source: yaffas-module-mailsrv
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: yaffas-module-mailsrv
Architecture: all
Provides: yaffas-secconfig
Depends: ${shlibs:Depends}, libswitch-perl, yaffas-core, yaffas-module-users, postfix
Description: Basic mailserver configuration
 Basic mailserver configuration
