Source: yaffas
Section: yaffas
Priority: extra
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: www.yaffas.org

Package: yaffas
Architecture: all
Depends: yaffas-core, yaffas-theme, yaffas-yui, yaffas-lang, yaffas-module-about, yaffas-module-changelang, yaffas-module-systeminfo, yaffas-module-changepw, yaffas-module-logfiles, yaffas-module-snmpconf, yaffas-module-authsrv, yaffas-module-support, yaffas-module-users, yaffas-module-certificate, yaffas-module-fetchmail, yaffas-module-notify, yaffas-module-mailalias, yaffas-module-mailq, yaffas-module-service, yaffas-module-bulkmail, yaffas-module-group, yaffas-module-saveconf, yaffas-module-netconf, yaffas-module-mailsrv, yaffas-module-setup, yaffas-config, yaffas-module-security, yaffas-certificates, yaffas-software
Description: Meta-package for yaffas
 Meta-package for yaffas
