Source: yaffas-module-zarafaorphanedstores
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: yaffas-module-zarafaorphanedstores
Architecture: all
Depends: libswitch-perl, yaffas-core, yaffas-module-users, yaffas-install-lib
Description: Module for managing zarafa orphaned stores
 Module for managing zarafa orphaned stores
