Source: yaffas-module-mailalias
Section: yaffas
Priority: optional
Maintainer: Package Builder <packages@yaffas.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: yaffas-module-mailalias
Architecture: all
Depends: yaffas-core
Description: Webmin module for alias configuration
 Webmin module for alias configuration
